.landing-page{
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1506102383123-c8ef1e872756?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjk5NTd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
}

.main-page-content p{
    font-family: 'EB Garamond', serif;
    line-height: 40px;
    margin-top: 2em;
    font-size: 1.6em;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color:rgb(241, 238, 238);
}

.main-page-content p,h4{
    
}

#header{
    padding-top: 120px;
    letter-spacing: 7px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    animation: landingHeader 3s 1 ease-in;

}

/* header animation */
@keyframes landingHeader{
    0%{
        color: blanchedalmond;
        letter-spacing: 25px;
        margin: -40px;
    }
    35%{
        margin: -40px;
    }
    
    85%{
        letter-spacing: 7px;
    }
}



@media(max-width:758px){
    .landing-page{
    
    }
    #header{
        font-size: 30px;
    }

    .main-page-content p{
        margin-left: 10%;
        margin-right: 10%;
        
    }
}

@media(max-width:386px){
    .landing-page{
    
    }
    .main-page-content p{
        margin-left: 10%;
        margin-right: 10%;
        line-height: 30px
    }
}

.social-links{
    text-align: center;

}

.social-links i {
    margin-top: 5em;
    letter-spacing: 10px;
    color: white;
    font-size: 3.5em;
  }

  /* animation for social links  */
.social-links{
    animation-delay: 2s;
    animation: landingIcons 3s ease-in; 

}

@keyframes landingIcons{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
}